%h1 Welcome to eldhuset.org

- if Post.any?
  - Post.all.reverse.each do |p|
    %article
      %h2= link_to p.title, p
      != p.publication_date_in_html
      = render :partial => 'posts/image',
               :locals => { :post => p, :image_link => p }
      :markdown
        #{p.body.truncate(512, :seperator => " ", :omission => " …")}
      - if p.body.size > 512
        = link_to "View entire post", p
      %hr
- else
  %p No posts found.
