- if Post.any?
  - Post.order('created_at DESC').each do |p|
    %article
      %h1= link_to p.title, p

      = render :partial => 'posts/pubdate',
                           :locals => { :post => p }
      = render :partial => 'posts/image',
                           :locals => { :post => p,
                                        :image_link => p }

      = truncate_html(p.to_html, :length => 512,
                                 :seperator => " ",
                                 :omission => " …")
      - if p.body.size > 512
        = link_to "View entire post", p
      %hr
- else
  %p No posts found.
