%article
  %h1= @post.title
  = render :partial => 'posts/pubdate',
                       :locals => { :post => @post } 
  = render :partial => 'posts/image',
                       :locals => { :post => @post,
                                    :image_link => @post.image.url }
  :markdown
    #{@post.body}

= link_to "Post index", posts_path
