!!! 5
%html
  %head
    %title= page_title
    = stylesheet_link_tag "application"
    /[if lt IE 8]
      = stylesheet_link_tag "blueprint/ie"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = render 'layouts/site_navigation'
    .container
      .span-20.prepend-2.append-2.last
        = yield
